@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

html, body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

main {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px;
}

/* profile picture */

img {
    border-radius: 50%;
}

/* name */

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}

/* location */

h2 {
    color: hsl(75, 94%, 57%);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: .25;
}

/* quote */

p {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    padding: 14px;
}

/* quote */

.profile-links {
    display: flex;
    flex-direction: column;
    width: 80%;
}

button {
    background-color: hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


/* smaller screen sizes */

@media (max-width: 1440px)
{
    main {
        display: flex;
        padding-bottom: 20px;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        height: 35rem;
        margin: auto;
    }

    .profile-picture {
        display: flex;
        justify-items: center;
    }

    img {
        width: 7rem;
    }
}

/* larger screen sizes */

@media (min-width: 1440px) {

    main {
        display: flex;
        padding-bottom: 0px;
        padding-top: 0px;
        justify-content: center;
        align-items: center;
        height: 45rem;
        width: 30rem;
        margin: auto;
    }

    .profile-picture {
        display: flex;
        justify-items: center;
    }

    img {
        width: 7rem;
    }

    button {
        padding: 15px;
        font-weight: 600;
    }
}